
  <div class="card">
    <div class="card-content">
      <h2>Vannes</h2>
    </div>
    <div class="card-tabs ">
      <ul class="tabs tabs-fixed-width">
        <li class="tab "><a href="#lundi">Lundi</a></li>
        <li class="tab"><a class="active" href="#mardi">Mardi</a></li>
        <li class="tab"><a href="#mercredi">Mercredi</a></li>
        <li class="tab"><a href="#jeudi">Jeudi</a></li>
        <li class="tab"><a href="#vendredi">Vendredi</a></li>
        <li class="tab"><a href="#samedi">Samedi</a></li>
        <li class="tab"><a href="#dimanche">Dimanche</a></li>

      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="lundi">
        <div class = "darken-4" >
            <div class = "child" style="text-align: left;">
                <i id="weather_icon" class="wi main-icon wi-owm-803"></i>
            </div>
        
            <div class = "separator"></div>
        
            <div class = "child""  style="text-align: center;">
                <p id="temperature" class="main-icon">T</h6>
            </div>
        
            <div class = "child"">
                <div style="text-align:right">
                    <p id="temperature_max">Max</p></div>
                <div style="text-align:right">
                    <p id="temperature_min">Min<p></p>
                </div>
            </div>
        </div> 
      </div>

    
      <div id="mardi">
        <div class = "darken-4" >
            <div class = "child" style="text-align: left;">
                <i id="weather_icon" class="wi main-icon wi-owm-803"></i>
            </div>
        
            <div class = "separator"></div>
        
            <div class = "child""  style="text-align: center;">
                <p id="temperature" class="main-icon">T</h6>
            </div>
        
            <div class = "child"">
                <div style="text-align:right">
                    <p id="temperature_max">Max</p></div>
                <div style="text-align:right">
                    <p id="temperature_min">Min<p></p>
                </div>
            </div>
        </div>
      </div>
      <div id="mercredi">
        <div class = "darken-4" >
            <div class = "child" style="text-align: left;">
                <i id="weather_icon" class="wi main-icon wi-owm-803"></i>
            </div>
        
            <div class = "separator"></div>
        
            <div class = "child""  style="text-align: center;">
                <p id="temperature" class="main-icon">T</h6>
            </div>
        
            <div class = "child"">
                <div style="text-align:right">
                    <p id="temperature_max">Max</p></div>
                <div style="text-align:right">
                    <p id="temperature_min">Min<p></p>
                </div>
            </div>
        </div>
      </div>
      <div id="jeudi">
        <div class = "darken-4" >
            <div class = "child" style="text-align: left;">
                <i id="weather_icon" class="wi main-icon wi-owm-803"></i>
            </div>
        
            <div class = "separator"></div>
        
            <div class = "child""  style="text-align: center;">
                <p id="temperature" class="main-icon">T</h6>
            </div>
        
            <div class = "child"">
                <div style="text-align:right">
                    <p id="temperature_max">Max</p></div>
                <div style="text-align:right">
                    <p id="temperature_min">Min<p></p>
                </div>
            </div>
        </div>
      </div>
      <div id="vendredi">
        <div class = "darken-4" >
            <div class = "child" style="text-align: left;">
                <i id="weather_icon" class="wi main-icon wi-owm-803"></i>
            </div>
        
            <div class = "separator"></div>
        
            <div class = "child""  style="text-align: center;">
                <p id="temperature" class="main-icon">T</h6>
            </div>
        
            <div class = "child"">
                <div style="text-align:right">
                    <p id="temperature_max">Max</p></div>
                <div style="text-align:right">
                    <p id="temperature_min">Min<p></p>
                </div>
            </div>
        </div>
      </div>
      <div id="samedi">
        <div class = "darken-4" >
            <div class = "child" style="text-align: left;">
                <i id="weather_icon" class="wi main-icon wi-owm-803"></i>
            </div>
        
            <div class = "separator"></div>
        
            <div class = "child""  style="text-align: center;">
                <p id="temperature" class="main-icon">T</h6>
            </div>
        
            <div class = "child"">
                <div style="text-align:right">
                    <p id="temperature_max">Max</p></div>
                <div style="text-align:right">
                    <p id="temperature_min">Min<p></p>
                </div>
            </div>
        </div>
      </div>
      <div id="dimanche">
        <div class = "darken-4" >
            <div class = "child" style="text-align: left;">
                <i id="weather_icon" class="wi main-icon wi-owm-803"></i>
            </div>
        
            <div class = "separator"></div>
        
            <div class = "child""  style="text-align: center;">
                <p id="temperature" class="main-icon">T</h6>
            </div>
        
            <div class = "child"">
                <div style="text-align:right">
                    <p id="temperature_max">Max</p></div>
                <div style="text-align:right">
                    <p id="temperature_min">Min<p></p>
                </div>
            </div>
        </div>
      </div>

    </div>

</div>

  